:root {
    --color-principal: #F5F1E3;
    --font-principal: 'Roboto', sans-serif;
    --font-color: black;
}


body {
    background-color: white;
    font-family: var(--font-principal);
}

/* Header*/

header {
    background-color: var(--color-principal);
    height: auto;
}

.logo {
    width: auto;
    height: 100px;
}

.header-contactos {
    margin: auto 0px;
    text-decoration: none;
}

.nav-link {
    color: black;
}

.nav-link:focus, .nav-link:hover {
    color: black;
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.barraNav {
    margin-bottom: 15px;
}

.resumeInfo {
    margin-top: 30px;

}

@media (max-width: 992px) and (min-width: 0px) {

    .header-logo > a {
        display: flex;
        justify-content: center;
    }

    .header-contactos {
        display: flex;
        justify-content: center;
    }

    .header-logo > a > img {
        width: 50%;
        height: auto;
    }

    header {
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    /*  */

}

/* BODY */
.ultimasDescargas > div{
    display: flex;
}
.ultimasDescargas > div > img{
    width: 25px;
    height: 25px;
}
.info-1 {
    background-color: var(--color-principal);
    height: auto;
    border-radius: 10px 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.info-1 > h1 {
    padding: 15px;
}

.info-1 > p {
    padding: 15px;
}

.img-info-1 {
    background-image: url("../img/Fondo-icono.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-info-1 > img {
    width: 80px;
    height: 80px;
}

.img-info-1 > img:hover {
    width: 100px;
    height: 100px;
}

.cartass {
    margin-top: 20px;
}

.cartas {
    height: auto;
    justify-content: space-around;
}

.carta {
    margin: 15px 0;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--color-principal);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-title {
    padding: 10px 0;
}

.card-body {
    padding: 10px;
}

/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
}
